@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 20px;
}

.navbar{
    width: 100%;
    height: auto;
    padding: 2rem 0;
    /* font-size: 4rem; */
    display: flex;
    justify-content: space-around;
    z-index: 999;
    background-color: rgb(109, 108, 108);
    font-family: 'Ubuntu', sans-serif;
}

/* .max-width{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
} */



.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
}

.navbar .logo a span{
    color: #f00;
}


/* Home section styling */
.home{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 30px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/sean-lim-kdHOdg1Bi3U-unsplash.jpg) no-repeat center fixed;
    height: 100vh;
    width: 100%;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}



.home .home-content .text-1{
    font-size: 27px;
    color: #fff;
}

.home .home-content .text-2{
    flex-wrap: wrap;
    font-size: 55px;
    color: #f00;
    font-weight: 600;
    margin-left: 3px;
}

.home .home-content .text-3{
    color: #fff;
    font-size: 27px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: #f00;
    font-weight: 500;
}

.home .home-content a{
    display: inline-block;
    background: #f00;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #f00;
    transition: all 0.3s ease;
    text-decoration: none;
}

.home .home-content a:hover{
    color: #fff;
    background: none;
    text-decoration: none;
}

/* about section styling */
section{
    padding: 100px 0;
}

.about{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap
}

.about .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif
}


.about .about-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: auto;
}

.about .about-content .left{
    width: auto;
    height: auto;
}

.about .about-content .left img {
    height: 400px;
    width: 600px;
    margin: 0 auto;
    object-fit: contain;
    border-radius: 6px;
}

.about .about-content .right{
    width: auto;
    align-items: center;
    margin: auto 20%;
    justify-items: center;
    justify-content: center;
}

.about .about-content .right .text{
    font-size: 30px;
    font-weight: 600;
    margin: 20px auto;
    text-align: center;
}

.about .about-content .right .text span{
    color: #f00;
}

.about .about-content .right p{
    text-align: justify;
}

.about .about-content .right .download{
    display: flex;
}


.about .about-content .right a{
    display: inline-block;
    background: #f00;
    color: #fff;
    align-content: center;
    font-size: 25px;
    font-weight: 500;
    padding: 12px 36px;
    margin-top: 20px;
    margin: auto;
    border-radius: 6px;
    border: 2px solid #f00;
    transition: all 0.3s ease;
    text-decoration: none;
}

.about .about-content .right a:hover{
    color: #f00;
    background: none;
}


/* skill section styling */


.skills{
    font-family: 'Poppins', sans-serif;
    background: rgb(75, 74, 74);
    color: #fff;
}

.skills .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif
}

.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: auto;
}

.skills .skills-content .column{
    width: calc(50% - 30px);
}

.skills .skills-content .left .text{
    font-size: 20 px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left .image{
    width: 100%;
    margin: auto;
    display: inline-block;
}

.skills .skills-content .right .bars{
    margin-bottom: 15px;
}

.skills .skills-content .right .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right .span{
    font-weight: 500;
    font-size: 10px;
}

.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

/* .skills .skills-content .right .line::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 80px;
    left: 0;
    top: 0;
    background-color: #f00;
} */









@media only screen and (max-width: 808px) {
    .navbar{
        width: 100%;
        height: auto;
        padding: auto 0;
    }

    .home{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 10px;
        /* justify-content: center; */
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/sean-lim-kdHOdg1Bi3U-unsplash.jpg) no-repeat center fixed;
        height: 50vh;
        width: 100%;
        background-size: cover;
        font-family: 'Ubuntu', sans-serif;
    }


    .home .home-content .text-1{
        font-size: 22px;
        color: #fff;
    }

    .home .home-content .text-2{
        flex-wrap: wrap;
        font-size: 45px;
        color: #f00;
        font-weight: 450;
        margin-left: 2px;
    }

    .home .home-content .text-3{
        color: #fff;
        font-size: 22px;
        margin: 3px 0;
    }

    

    .about .about-content .left img {
        height: 250px;
        width: 450px;
        margin: 0 auto;
        object-fit: contain;
        border-radius: 6px;
    }

    .about .about-content .right .text{
        font-size: 25px;
        font-weight: 600;
        margin: 20px auto;
        text-align: center;
    }
    /* .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: 0;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    } */


/* 
    .home .home-content .text-2{
        font-size: 70px;
    }
    
    .home .home-content .text-3{
        font-size: 19px;
    }

    .home .home-content a{
        font-size: 17px;
        padding: 10px 30px;
    }

    .max-width{
        max-width: 800px;
    }

    .about .about-content .column{
        width: 50%;
    }

    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    } */
    
}

